body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #312f2fe8;
    text-align: right;
}

.calculator {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #302f35;
    border: 4px solid #4A4A4A;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 40px 30px #1A1A2E;
    width: 400px;
    height: 600px;
}

.displays {
    background-color: #1F1F1F;
    padding: 10px;
    color: #FFFFFF;
    font-size: 2rem;
    border-radius: 10px;
}

.secondDisplay {
    color:#4A4A4A;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 1fr 1fr 1fr 1fr 50px;
    width: 100%;
    height: 80%;
    gap: 3px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
	background-color:#1A1A2E;
    color: #E0E0E0;
    padding: 10px;
    margin: 2px;
    font-size: 2rem;
    border-radius: 10px;
}

.fa-solid {
    pointer-events: none;
}

button[data-type="operator"]:hover {
    background-color: #1A1A2E;
}

button[data-type="action"]:hover {
    background-color: #1A1A2E;
}

button[data-type="number"]:hover {
    background-color: #131343;
}

button[data-type="dot"]:hover {
    background-color: #131343;
}

button[data-type="operator"] {
    background-color: #131343;
}

button[data-type="action"] {
    background-color: #131343;
}

button[data-value="="] {
    grid-column: span 4;
    height: 50px;
}

button[data-value="C"] {
    grid-column: span 2;
    height: 50px;
}

button[data-value="B"] {
    grid-column: span 2;
    height: 50px;
}