body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #312f2fe8;
    text-align: right;
}

.calculator {
    box-sizing: border-box;
    background-color: #302f35;
    border: 4px solid #4A4A4A;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.2), 0 0 10px rgba(23, 26, 208, 0.1);
    width: 400px;
    height: 600px;
}

.display {
    background-color: #1F1F1F;
    padding: 10px;
    color: #FFFFFF;
    font-size: 2rem;
    border-radius: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 80%;
    gap: 3px;
    margin-top: 30px;
}

.btn {
	background-color:#1A1A2E;
    color: #E0E0E0;
    padding: 10px;
    margin: 2px;
    font-size: 2rem;
    border-radius: 10px;
}

button[data-type="operator"]:hover {
    background-color: #1A1A2E
}

button[data-type="action"]:hover {
    background-color: #1A1A2E
}

button[data-type="number"]:hover {
    background-color: #131343
}

button[data-type="operator"] {
    background-color: #131343
}

button[data-type="action"] {
    background-color: #131343
}

button[data-value="="] {
    grid-column: span 4;
}

button[data-value="C"] {
    grid-column: span 2;
}

button[data-value="B"] {
    grid-column: span 2;
}